/* Aquí definimos las Custom properties */
:root {
    --font-primary: "Alata", sans-serif;
    --font-secondary: "Josefin Sans", sans-serif;
    --font-c-primary: #fff;
    --font-c-secondary: #000;
    --font-c-tertiary: hsl(0, 0%, 55%);
    --font-c-tertiary-dark: hsl(0, 0%, 41%);
    --bg-c-primary: #000;
    --bg-c-secondary: #fff;
  }
  
  /* Las adaptamos al modo oscuro */
  @media (prefers-color-scheme: dark) {
    :root {
      --negro: #ececec;
    }
  }
  /* Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
  @media (prefers-reduced-motion: reduce) {
    * {
      -webkit-animation: none !important;
              animation: none !important;
      -webkit-transition: none !important;
      transition: none !important;
    }
  }
  /* Reseteamos los margin y paddings de todas las etiquetas */
  * {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    vertical-align: baseline;
  }
  
  /* Evitamos problemas con las imagenes */
  img, picture, video, iframe, figure {
    max-width: 100%;
    width: 100%;
    display: block;
    /* opcional */
    -o-object-fit: cover;
       object-fit: cover;
    /* opcional */
    -o-object-position: center center;
       object-position: center center;
  }
  
  /* Reseteamos los enlaces para funcionar como cajas... */
  a {
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
  }
  
  /* ... excepto los que se encuentran en párrafos */
  p a {
    display: inline;
  }
  
  /* Quitamos los puntos de los <li> */
  li {
    list-style-type: none;
  }
  
  /* Configuramos anclas suaves */
  html {
    scroll-behavior: smooth;
  }
  
  /* Desactivamos estilos por defecto de las principales etiquetas de texto */
  h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
    font-size: 1em;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color: inherit;
  }
  
  /* Evitamos problemas con los pseudoelementos de quotes */
  blockquote:before, blockquote:after, q:before, q:after {
    content: "";
    content: none;
  }
  
  /* Configuramos el texto que seleccionamos */
  ::-moz-selection {
    background-color: var(--negro);
    color: var(--blanco);
  }
  ::selection {
    background-color: var(--negro);
    color: var(--blanco);
  }
  
  /* Nivelamos problemas de tipografías y colocación de formularios */
  form, input, textarea, select, button, label {
    font-family: inherit;
    font-size: inherit;
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
    background-color: transparent;
    color: inherit;
    display: block;
    /* opcional */
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }
  
  /* Reseteamos las tablas */
  table, tr, td {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  /* Evitamos problemas con los SVG */
  svg {
    display: block;
    fill: currentColor;
  }
  
  /* Quitar barra lateral */
  ::-webkit-scrollbar {
    display: none;
  }
  
  /* Configuramos la tipografía para toda la web */
  body {
    min-height: 100vh;
    font-size: .9375rem;
    font-family: var(--font-primary);
    font-weight: 600;
    color: var(--font-c-primary);
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
    /* opcional */
    -webkit-font-smoothing: antialiased;
    /* opcional */ 
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
  }
  .header{
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
  }
  .header__h1{
    position: relative;
  }
  .h1__span{
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }
  .header__wrapper{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 4.6875rem 10rem;
  }
  .header__ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: 1.875rem;
  }
  .header__li::after{
    content: "";
    display: block;
    width: 0%;
    height: 2.5px;
    background-color: var(--bg-c-secondary);
    margin: .625rem auto 0;
    transition: width .5s ease;
  }
  .header__li:hover::after{
    width: 50%;
  }
  .btn__wrapper{
    display: none;
  }
  .hero{
    position: relative;
  }
  .hero__img{
    object-fit: cover;
    filter: brightness(50%);
  }
  .h2__wrapper{
    position: absolute;
    max-width: 40.625rem;
    bottom: 8.75rem;
    left: 10rem;
    border: 2px solid var(--font-c-primary);
    padding: 2.5rem;
  }
  .h2{
    font-family: var(--font-secondary);
    font-size: 72px;
    font-weight: 300;
    text-transform: uppercase;
  }
  .article{
    padding: 10rem;
  }
  .article__wrapper{
    position: relative;
  }
  .article__img{
    object-fit: cover;
    max-width: 731px;
  }
  .text__container{
    position: absolute;
    padding: 5.625rem 0 0 5.625rem;
    bottom: 0;
    left: 50%;
    background-origin: padding-box;
    background-color: var(--bg-c-secondary);
  }
  .text__wrapper{
    max-width: 28.75rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2.5rem;
  }
  .h3{
    font-size: 52px;
    text-transform: uppercase;
    font-weight: 300;
    color: var(--font-c-secondary);
    font-family: var(--font-secondary);
  }
  .article__paragraph{
    font-family: var(--font-primary);
    color: var(--font-c-tertiary);
    letter-spacing: .4px;
    line-height: 1.5rem;
  }
  .title__wrapper{
    padding: 0 10rem;

  }
  .section{
    position: relative;
  }
  .section__btn{
    color: var(--font-c-secondary);
    text-transform: uppercase;
    letter-spacing: 4px;
    padding: .9375rem 2.5rem;
    border: 2px solid var(--font-c-tertiary-dark);
    cursor: pointer;
    transition: all .5s ease;
    position: absolute;
    top: 0;
    right: 10rem;
  }
  .section__btn:hover{
    background-color: var(--bg-c-primary);
    color: var(--font-c-primary);
    border-color: var(--bg-c-primary);
  }
  .grid__container{
    padding: 5rem 10rem;
  }
  .grid__ul{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(256px , 1fr));
    gap: 1.875rem;
  }
  .grid__li{
    position: relative;
    cursor: pointer;
  }
  .grid__li:hover .grid__img{
   opacity: 40%;
  }
  .grid__li:hover .grid__h4{
    color: var(--font-c-secondary);
   }
  .grid__img{
    object-fit: cover;
    filter: brightness(80%);
    transition: all .5s ease;
  }
  .grid__h4{
    position: absolute;
    bottom: 1.875rem;
    left: 1.875rem;
    font-family: var(--font-secondary);
    text-transform: uppercase;
    font-weight: 300;
    font-size: 2.5rem;
    text-shadow: 0px 2px 4px rgba(0,0,0, .6);
    transition: all .5s ease;
  }
  .footer{
    background-color: var(--bg-c-primary);
  }
  .footer__wrapper{
    padding: 2.8125rem 10rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  .h6__span{
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }
  .menu__wrapper{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.875rem;
  }
  .footer__ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1.875rem;
  }
  .footer__li::after{
    content: "";
    display: block;
    width: 0%;
    height: 2.5px;
    background-color: var(--bg-c-secondary);
    margin: .625rem auto 0;
    transition: width .5s ease;
  }
  .footer__li:hover::after{
    width: 50%;
  }
  .social__wrapper{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 1.875rem;
  }
  .social__ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 1.875rem;
  }
  .social__li::after{
    content: "";
    display: block;
    width: 0%;
    height: 2.5px;
    background-color: var(--bg-c-secondary);
    margin: .625rem auto 0;
    transition: width .5s ease;
  }
  .social__li:hover::after{
    width: 100%;
  }
  .copy{
    color: var(--font-c-tertiary-dark);
  }
  
  @media (max-width:1000px){
    .header__wrapper{
      padding: 4.6875rem 3.125rem;
    }
    .h2__wrapper{
      position: absolute;
      max-width: initial;
      width: 90%;
      left: calc((100% - 90%) / 2);
      bottom: 8.75rem;
    }
    .hero__h2{
      text-align: center;
    }
    .article{
      padding: 10rem 3.125rem;
    }
    .text__container{
      padding: 2rem 0 0 2rem;
    }
    .text__wrapper{
      gap: 1rem;
    }
    .title__wrapper{
      padding: 0 3.125rem;
    }
    .section__btn{
      right: 3.125rem;
    }
    .grid__container{
      padding: 5rem 3.125rem;
    }
    .footer__wrapper{
      padding: 2.8125rem 3.125rem;
    }
  }
  @media (max-width: 870px){
    .header-wrapper{
      position: relative;
    }
    .header{
      position: fixed;
    }
    .header__h1{
      z-index: 1;
    }
    .btn__wrapper{
      z-index: 2;
    }
    .header__nav{
      pointer-events: none;
      transform: translateX(100%);
      transition: transform .5s ease;
      position: absolute;
      width: 100%;
      height: 100vh;
      top: 0;
      left: 0;
      background-color: var(--bg-c-primary);
    }
    .header__nav.isActive{
      transform: translateX(0);
      pointer-events: all;
    }
    .header__ul{
        flex-flow: column nowrap;
        justify-content: center;
        align-items: flex-start;
        padding: 0 0 0 3.125rem;
        gap: 1.875rem;
        height: 100%;
        width: 100%;
        text-transform: uppercase;
        font-family: var(--font-secondary);
        font-weight: 300;
        font-size: 2rem;
    }
    .btn__wrapper{
      position: relative;
    }
    .btn__wrapper{
      display: block;
      transition: opacity 1s ease;
    }
    .close__svg{
      position: absolute;
      top: 0;
      left: 0;
      cursor: pointer;
      opacity: 0;
      pointer-events: none;
      transition: opacity 1s ease;
    }
    .header__nav.isActive + .btn__wrapper .menu__svg{
      opacity: 0;
      pointer-events: none;
    }
    .header__nav.isActive + .btn__wrapper .close__svg{
      opacity: 1;
      pointer-events: all;
    }
    .article__wrapper{
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: center;
      gap: 5.625rem;
    }
    .article__img{
      max-width: initial;
    }
    .text__container{
      padding: 0;
      position: static;
    }
    .text__wrapper{
      max-width: initial;
      text-align: center;
    }
  }
 @media(max-width:750px){
  .hero__h2{
    text-align: left;
  }
  .section{
    margin: 0 0 11.875rem;
  }
  .grid__ul{
    padding: 0 0 4.0625rem;
  }
  .h3{
    text-align: center;
  }
  .section__btn{
    top: initial;
    bottom: 0;
    right: initial;
    width: 50%;
    left: calc(((100% - 50%) / 2));
  }
  .footer__wrapper{
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 5.625rem;
  }
  .menu__wrapper{
    gap: 4.375rem;
  }
  .footer__h6{
    margin: 0 auto;
  }
  .footer__ul{
    flex-flow: column nowrap;
    justify-content: flex-start ;
    align-items: center;
    width: 100%;
  }
  .social__wrapper{
    align-items: center;
  }
 } 
 @media (max-width:665px){
  .h2{
    font-size: 3.875rem;
  }
 }
 @media (max-width: 642px){
  .hero{
    height: 100vh;
  }
  .hero__picture{
    height: 100%;
  }
  .hero__img{
    height: 100%;
  }
  .h2__wrapper{
    bottom: initial;
    top: 50%;
    transform: translateY(-50%);
  }
  .article{
    padding: 5rem 3.125rem;
  }
  .section {
    margin: 0 0 5rem;
}
  .article__img{
    height: 100%;
  }
  .grid__container {
    padding: 2.5rem 3.125rem;
  }
  .grid__ul{
    gap: 2.8125rem;
  }
  .grid__img{
    height: 100%;
  }
 }
 @media (max-width: 540px){
  .header__wrapper{
    padding: 3rem 3.125rem;
  }
  .h2{
    font-size: 2.625rem;
  }
  .h3{
    font-size: 2.625rem;
  }
  .grid__h4{
    font-size: 2rem;
  }
  .menu__wrapper{
    gap: 3rem;
  }
  .footer__wrapper{
    gap: 3rem;
  }
  .footer__ul{
    gap: 1rem;
  }
 }
 @media (max-width: 470px){
  .grid__h4{
    font-size: 1.7rem;
  }
 }
 @media (max-width: 420px){
  .h2{
    font-size: 2.2rem;
  }
  .h3{
    font-size: 2rem;
  }
  .grid__h4{
    font-size: 1.4rem;
    left: 1rem;
    bottom: 1rem;
  }
  
}